{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img class="fit-images" src="{{ url_for('static', filename='images/legatus_banner.png') }}" alt="">
</div>
<hr>
    <div class="grid_hostlist">
        <a class="item1" href="{{ url_for('empire_home') }}" role="button">
            <img src="{{ url_for('static',filename='images/powershell-empire-logo.svg') }}" style="display: block; margin: auto;" alt="">
            <h3 style="text-align:center">PowerShell-Empire</h3>
        </a>
        <a class="item1" href="{{ url_for('index') }}" role="button">
            <img src="{{ url_for('static',filename='images/kali-tools-icon-missing.svg') }}" style="display: block; margin: auto;" alt="">
            <h3 style="text-align:center">koadic</h3>
        </a>
        <a class="item1" href="{{ url_for('index') }}" role="button">
            <img src="{{ url_for('static',filename='images/caldera-logo.png') }}" style="display: block; margin: auto;"width="580" alt="">
            <h3 style="text-align:center">caldera</h3>
        </a>
        <a class="item1" href="http://{{ myip }}:8065" target="_blank" rel="noopener noreferrer" role="button">
            <img src="{{ url_for('static',filename='images/chat.png') }}" style="display: block; margin: auto;" alt="">
            <h3 style="text-align:center">Chat</h3>
        </a>
        <a class="item1" href="{{ url_for('docker') }}" role="button">
            <img src="{{ url_for('static',filename='images/docker.png') }}" style="display: block; margin: auto;" alt="">
            <h3 style="text-align:center">Docker</h3>
        </a>
    </div>
<hr>
{% endblock %}
